@charset "utf-8";

html, body {height:100%; background:#e7e7e7;}
body.hidden {position:relative; overflow:hidden;height:100%;}
body.hidden #wrap {position:relative; overflow:hidden; height:100%;}
#tabletCheck {display:none; height:0;}
#wrap {min-width:300px; position:relative; margin:0 auto; background:#fff;}
@media only all and (min-width:760px) {
#tabletCheck {display:block; height:0;}
#wrap {padding-left:220px;}
}

/* #footer */
#footer {background:#e7e7e7; text-align:center;}
#footer .footerUtilMenu:after {content:""; display:block; clear:both; height:0;}
#footer .footerUtilMenu li {display:inline;}
#footer .footerUtilMenu li a {display:inline-block; height:50px; line-height:52px; font-weight:700; font-size:12px; padding:0 10px;}
#footer address {padding:0px 15px 10px 15px; line-height:1.5; font-size:9px; font-weight:500; color:#aaa; line-height:1.7;}
#footer address span.bul {padding-left:10px; margin-left:10px; position:relative;}
#footer address span.bul:after {content:""; display:block; position:absolute; top:3px; left:0; height:8px; background:#aaa; width:1px;}
#footer .copyright {font-size:9px; padding-bottom:18px; padding-left:15px; color:#aaa;}
/********** 화면 너비가 760px 이상일 때에만 아래 코드를 실행 **********/
@media only all and (min-width:760px) {
#footer .footerUtilMenu li {float:left; width:25%; margin:0; text-align:center;}
#footer .footerUtilMenu li a {display:block; font-size:14px;}
}

/* #lnb */
#lnbMask {position: fixed; width: 100%; height: 200%; left: 0px; top: 0px; background: #000; z-index:10000; display: none;}
#lnbClose {position:absolute; top:0; right:0; padding:14px;}
#lnb {position:fixed; top:0; left:-300px; width:300px; left:-88%; width:88%; height:100%; background:#fff;  z-index:10001; box-sizing:border-box;}
#lnb .top {height:96px; border-bottom:1px solid #e8e8e8; padding-left:20px;}
#lnb .top h2 {font-size:20px; font-weight:700; padding:24px 0 12px 0; letter-spacing:-0.5px;}
#lnb .top h2 > span {font-size:12px; font-weight:400; letter-spacing:0;}
#lnb .top p {font-size:12px; font-weight:500; color:#555;}
#lnb .bottom {position:absolute; bottom:0; left:0;width:100%;}
#lnb .bottom select {background:#8d2325 url(../images/common/ic_lnb_family.png) right center no-repeat; width:100%; border:none; height:47px;  font-size:13px; font-weight:500; padding-left:20px; color:#fff;}
#lnb .cont {position:absolute; top:96px; bottom:47px; left:0; right:0; overflow-y:auto; overflow-x:hidden; -webkit-overflow-scrolling:touch;}
#lnb .menu_1 {padding:15px 0; border-bottom:1px solid #e8e8e8;}
#lnb .menu_1 a {display:block; height:38px; line-height:38px; font-size:16px; font-weight:700; padding:0 20px;}
#lnb .menu_2 a {display:block; height:55px; line-height:55px;  font-size:16px; font-weight:700; padding:0 20px; border-bottom:1px solid #e8e8e8; background:url(../images/common/bul_lnb.png) no-repeat right center;}
#lnb .menu_1 a:focus {background:#fbf4f4;}
#lnb .menu_2 a:focus {background:#fbf4f4 url(../images/common/bul_lnb.png) no-repeat right center;}
#lnb .customer {padding-left:20px;}
#lnb .customer h3 {padding:18px 0 15px 0; font-size:14px; font-weight:900; color:#777;}
#lnb .customer ul {padding-bottom:10px;}
#lnb .customer li {line-height:1.5; color:#777; font-weight:500;}
#lnb .customer li a {color:#777;}

/********** 화면 너비가 760px 이상일 때에만 아래 코드를 실행 **********/
@media only all and (min-width:760px) {
#lnb {left:0; width:220px; box-shadow:2px 0px 7px rgba(0,0,0,0.2);}
#lnb .top h2 > span {font-size:10px;}
#lnbMask, #lnbClose {display:none !important;}
}

/* #header */
#header {height:49px; position:relative;}
#header h1 {text-align:center; font-size:18px; padding-top:10px;}
#header #btnGnb {position:absolute; top:0px; left:0; z-index:9999; width:49px; height:49px; text-align:center;  text-indent:-9999px; background:url(../images/common/btn_gnb.png) center center no-repeat; background-size:17px; transition:background 0.7s;}
#header #btnGnb.active {background:#a50c12 url(../images/common/btn_gnb_active.png) center center no-repeat; background-size:17px; transition:background 0.7s;}
#header .btnToggleMenu {position:absolute; top:0px; right:0;}
#header .btnToggleMenu a { display:block; width:49px; height:49px; text-align:center; white-space:nowrap; font:0/0 a;}
#header .btnToggleMenu a:after {content:""; display:inline-block; vertical-align:middle; height:100%;}
#header .btnToggleMenu a img {max-width:100%; max-height:100%; vertical-align:middle; width:20px;}

/* #gnb */
#gnb {height:48px; border-bottom:1px solid #e0e0e0; background:#fff; z-index:10; width:100%; box-sizing:border-box;}
#gnb li {float:left; width:25%; text-align:center;}
#gnb li a {display:block; height:47px; line-height:50px;  font-weight:700; position:relative; letter-spacing:-0.2px;  word-spacing:-1px; font-size:13px;}
#gnb li a.active {color:#aa0202;}
#gnb li a.active:after {content:""; display:block; width:100%; height:1px; background:#aa0202; position:absolute; bottom:-1px; left:0; /* box-shadow:0px 2px 3px rgba(0,0,0,0.8) */}
#header.headerFix {/* position:fixed; */height:97px;}
.headerFix + #gnb {position:fixed; padding-left:48px; border-color:#aa0202; left:0; top:0;}
.headerFix + #gnb li a.active:after {display:none;}
#header.headerFix #btnGnb {position:fixed; background:#a50c12 url(../images/common/btn_gnb_active.png) center center no-repeat; background-size:17px; /*background-size:15px; z-index:10001; */ width:48px; height:48px;}

/********** 화면 너비가 760px 이상일 때에만 아래 코드를 실행 **********/
@media only all and (min-width:760px) {
#header #btnGnb {left:0px;}
#header #gnb li a {font-size:16px;}
#header.headerFix #gnb li a {font-size:14px;}
}

/* 2뎁스 메뉴 */
.twoDepthMenu {background:#f3f3f3; border-bottom:1px solid #e0e0e0; overflow:hidden;}
.twoDepthMenu ul:after {content:""; display:block; height:0; clear:both;}
.twoDepthMenu li {float:left; width:20%; box-sizing:border-box; padding:0 5px; display:table; position:relative; font-size:13px;}
.twoDepthMenu li:after {content:""; display:block; width:1px; height:10px; background:#aaa; position:absolute; top:19px; right:-1px;}
.twoDepthMenu li:last-child:after {display:none;}
.twoDepthMenu li * {display:table-cell; vertical-align:middle; width:100%; text-align:center; color:#fff; font-weight:500; line-height:1.34; letter-spacing: -0.5px; height:41px; padding-top:1px; word-break: break-all; color:#999;}
.twoDepthMenu li.active *{color:#333;  font-weight:700;}
.twoDepthMenu li.alignLeft {padding:0 15px;}
.twoDepthMenu li.alignLeft * {text-align:left;}
.twoDepthMenu.size_4 li {width:25%;}
.twoDepthMenu.size_3 li {width:33.33%;}
.twoDepthMenu.size_3 li:last-child {width:33.34%;}
.twoDepthMenu.size_2 li {width:50%;}
.twoDepthMenu.size_1 li {width:100%;}
/********** 화면 너비가 760px 이상일 때에만 아래 코드를 실행 **********/
@media only all and (min-width:760px) {
.twoDepthMenu li.alignLeft {padding:0 25px;}
}
