@charset "utf-8";

/* 첫화면 레이어 */
.mainLayer {position:absolute; top:0; left:0; z-index:1000000; background:#fff; box-shadow:0px 5px 10px rgba(0,0,0,0.5);}
.mainLayer .close {position:absolute; top:10px; right:10px;}
.mainLayer .close img {width:30px;}
.mainLayer .img {cursor:move;}
.mainLayer .bottom {height:30px; line-height:30px; text-align:right; padding-right:10px; font-size:12px; border:1px solid #ddd;}
.mainLayer .bottom label {cursor:pointer;}
.mainLayer .bottom label input {}

/* 팝업 공통 */
#mask {position:fixed; width:200%; height:200%; left:0; top:0; background:#000; display:none; z-index:10001;}
.layerPopup {position:fixed; top:0; left:0; width:100%; height:100%; z-index:10002; overflow:auto; display:none;}
.layerPopup > .layerInner {padding:20px 0px; margin:0 auto;}
.layerPopup > .layerInner > .layerBox {box-shadow:0px 5px 12px rgba(0,0,0,0.5); background:#fff; border-radius:0px; overflow:hidden;}
.layerPopup .titArea {position:relative; background: #50545c;}
.layerPopup .titArea h3 {height:51px; line-height:50px; font-size:18px; color:#fff; border-bottom:1px solid #000; padding-left:15px;}
.layerPopup .titArea .btnLayerClose {position:absolute; top:0; right:0;width:51px; height:51px; text-align:center; }
.layerPopup .titArea .btnLayerClose img {position:relative; top: 17px; }
.layerPopup .cont {padding:10px 15px;}
.layerPopup h4.tit  {font-size:15px; font-weight:500; padding-bottom:10px;}

/* 쿠폰 */
#schoolSearchPop .tit {white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#schoolSearchPop .layerInner {width:100%; padding:15px; box-sizing:border-box;}
#schoolSearchPop .box {border:1px solid #222; border-width:1px 0 1px 0; padding:20px 0; text-align:center;}
#schoolSearchPop .box p {font-size:15px; font-weight:400; color:#555; padding-bottom:17px; line-height:1.5;}
#schoolSearchPop .box p span.bl {display:block;}
#schoolSearchPop .box .search {position:relative; padding-right:80px;}
#schoolSearchPop .box .search a {position:absolute; top:0; right:0;}
#schoolSearchPop .box input {width:100%; height:42px; border:2px solid #d1d1d1; text-align:center; border-right:none; box-sizing:border-box; font-size:16px; border-radius:3px 0 0 3px; letter-spacing:0.5px;}
#schoolSearchPop .box a {display:inline-block; height:42px; line-height:41px; font-size:16px; background:#aa0202; vertical-align:top;width:80px; text-align:center; color:#fff; font-weight:400;}
#playerArea > .layerInner > .layerBox {background:none; border-radius:0px; position:relative;}
#playerArea .btnLayerClose {position:absolute; top:-0px; right:-52px; padding:10px; /* border:1px solid #fff; */}

#schoolSearchPop .fileSearchArea {display: flex; margin-bottom: -10px; margin-left: -5px; margin-right: -5px;}
#schoolSearchPop .fileSearchArea:after {content:""; display:block; height:0; clear:both;}
#schoolSearchPop .fileSearchArea span {float:left; width:69%; background:#fff; color:#1e1e1e; border-radius:0px; height:25px; font-size:15px; font-weight:700; margin-right: 6px; padding-top: 7px; }
#schoolSearchPop .fileSearchArea .detailSearchBtn {width: 35%; color: #5f5f5f; font-weight: 400; border: solid 1px; border-radius: 0px; background:#fff; display: inline;  font-size:13px; text-align: center;
padding-top: 7px; margin-left: 3px;}

#schoolSearchPop .boardList {border-top:1px solid #e9e9e9; height: 300px; overflow: scroll; }
#schoolSearchPop .boardList li a.list {display:flex; border-bottom:1px solid #e9e9e9; padding-left: 10px;}
#schoolSearchPop .boardList li a.list:focus {background:#fbf4f4;}
#schoolSearchPop .boardList li a.list span {color:#999; font-size:10px; font-weight:500; letter-spacing:-0.3px;}
#schoolSearchPop .boardList li a.list span.tit {display:block; padding-bottom:4px; font-size:13px; font-weight:700; color:#333;}

/********** 화면 너비가 760px 이상일 때에만 아래 코드를 실행 **********/
@media only all and (min-width:760px) {
#schoolSearchPop .box p span.bl {display:inline;}
#schoolSearchPop .layerInner {width:100%; padding:30px; box-sizing:border-box;}
}
